.client {
    display: flex;
    align-items: center;
    justify-content: center;
}

.client__list {
    display: flex;
    flex-direction: row;

}

.client__link {
    display: flex;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    box-sizing: border-box;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    fill: #AFB1B8;
    transition-property: border, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover,
.client__link:focus {
    fill: var(--secondary-color-blu);
    border: 1px solid var(--secondary-color-blu);
}

.client__item:not(:last-child) {
    margin-right: 30px;
}